div > * {
  vertical-align: top;
}

img,
.suggested-vid-info,
iframe,
aside,
.left-column,
.tags-header * {
  padding: 1em;
  display: inline-block;
}

nav {
  width: 100%;
  height: 3em;
  background-color: cadetblue;
}

iframe {
  background-color: coral;
}

aside {
  width: 30%;
  height: auto;
  background-color: crimson;
  margin-top: 1em;
}
.page-container {
  width: 100%;
}

.beneath-video {
  padding: 1em;
  width: 654px;
  background-color: blueviolet;
  height: 900px;
}
.tags-header {
  background-color: cyan;
}
.left-column {
  margin-left: 4em;
}
